@charset "UTF-8";

@import "../lib/mq";
@import "../lib/var";

/*--------------------------------------
  個別投稿
---------------------------------------*/
body.single{
	@include mq{
	}
	.entry-title{
		background-color: $green1;
		margin-bottom: 0;
		padding: 0.6em 0 0.4em;
		color: #fff;
		font-size: 32px;
		@include mq{
			font-size: 20px;
		}
	}
}


